@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i|Playfair+Display&display=swap');

*, *::before, *::after{
	box-sizing: border-box;
}

body{
	width: 100%;
	padding: 50px 10px;
	margin: 0 auto;
	background-color: #f3f3f3;
	font-family: 'Lato', sans-serif;
	line-height: 34px;
	color: #7a7a7a;
	
}

.ba-contener{
	width: 1400px;
	padding: 0 10px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.ba-content{
	width: 100%;
	padding: 123px 121px 120px;
	/* font: 18px/1.89; */
	/* letter-spacing: -5; */
}

a{
	color: #eaa258;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #eaa258;
	padding: 25px 73px 25px 74px;
}



.ba-willow{
	font-family: 'Playfair Display', serif;
	color: black;
	font-size: 42px;
	margin: 0;
	padding-bottom: 34px;
}

.ba-engineer{
	font-size: 24;
	
}

p{
	
	margin: 0;
	padding-bottom: 45px;
	letter-spacing: -5;
	font-size: 18px;
}

.ba-content-first:first-letter{
	font-family:'Playfair Display', serif;
   font-size: 6em;
	color:black;
	float: left;
	padding: 25px 15px 15px 0;
}


.ba-content-engineer{
	font-size: 25px;
	font-style: italic;
	font-weight: 400;
	padding-bottom: 75px;
	
}

.ba-content-icon{
	font-size: 70px;
	}

	






